{{ define "main" }}
{{ $posts := where .Site.RegularPages "Section" "posts" }}
<article>
  <header class="mb-14">
    <h1 class="my-0! pb-2.5">{{ .Title }}</h1>
    {{ with .Summary }}
    <p class="opacity-70">{{ . }}</p>
    {{ end }}
  </header>

  {{ if gt (len $posts) 0 }}
    {{ range ($posts.GroupByDate "2006") }}
    <section class="mb-10">
      <h2>{{ .Key }}</h2>
      <ul>
        {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <small class="opacity-60"> · {{ .Date.Format "2006-01-02" }}</small>
          {{ with .Params.tags }}
          <small class="opacity-60"> · 标签：{{ delimit . "、" }}</small>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
  {{ else }}
  <p>还没有文章，暂时无法生成归档。</p>
  {{ end }}
</article>
{{ end }}
